*{
    margin: 0;
    padding: 0;
}



a{
    text-decoration: none;
    display: inline-block;
}



ul{
    list-style: none;
}


img{
    display: block;
}


.container{
max-width: 1320px;
margin: 0 auto;
}


nav{
    
    position: absolute;
    top: 28px;   
    width: 100%; 
}


nav .container{
    display: flex;
    justify-content: space-between;
}


nav .container .menu {
    display: flex;
    align-items: center;
}


nav .container .menu ul{
    display: flex;
    column-gap: 60px;
}


nav .container .menu ul li a{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    transition: 3s;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



nav .container .menu ul li a:hover{
   color: black;
}



/* ============================================ */
/* ============================================ */
/* ============================================ */

#banner_part{
    padding: 462px 0;
    background: url("../images/banner.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



#banner_part p{
    margin-bottom: 37.74px;
    color: #FFC178;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7px;
    text-transform: uppercase;
}


#banner_part h1{
    color: #FFF;
    font-family: Open Sans;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
}



#banner_part h2{
    color: #FFF;
    font-family: Open Sans;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-transform: capitalize;
    }


/* ============================================ */
/* ============================================ */

#about_part {
    background: black;
    padding: 319px 358px;
}


#about_part .container{
    display: flex;
    column-gap: 24px;
}


 
#about_part .container .left{
    width: 50%;
}


#about_part .container .left img{
    width: 100%;
}



#about_part .container .right{
    width: 50%;
    display: flex;
    align-items: center;
}


#about_part .container .right .about_title {
    color: #FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}



#about_part .container .right h2{
    color: #FFF;
    font-family: Open Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 13px 0;
    width: 496px;
}



#about_part .container .right .about_details {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 66px;
}



#about_part .container .right a{
    color: #FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}



/* ============================================ */
/* ============================================ */
/* ============================================ */


#bromo{
    background: black;
    padding-bottom: 296px;
}


#bromo .container{
    background: url(../images/Bromo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 569px 0 33px ;
    text-align: center;

}


#bromo .container .bromo_title{
    color: #FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}


#bromo .container h2{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    width: 932px;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 13px auto 14px;

}


#bromo .container .bromo_details{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    width: 893px;
    margin: 0 auto 26px; 
}


#bromo .container a{
    color: #FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
} 

/* ============================================ */
/* ============================================ */
/* ============================================ */


#culture_part {
    background: rgb(0, 0, 0);
    padding-top: 0 0 199 !important;
}



#culture_part .container{
    display: flex;
    column-gap: 24px;
}



#culture_part .container .left{
    width: 50%;
    width: 50%;
    display: flex;
    align-items: center;
}



#culture_part .container .right{
    width: 50%;
    
}



#culture_part .container .right img{
    width: 100%;
}



#culture_part  .container  .left  .culture_title {
    color: #FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}



#culture_part .container .left h2{
    color: #FFF;
    font-family: Open Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 19px 0;
}



#culture_part .container .left .culture_details{
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}



#culture_part .container .left a{
    color: #FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 47px 0; 
}



/* ============================================ */
/* ============================================ */
/* ============================================ */
footer{
    background: rgb(0, 0, 0);
    padding: 190px 0  0 0;
}



footer .container {
    
    display: flex;
    margin-bottom: 153px;
}


footer .left{
    width: 50%;
}


footer .left h2{
    color: #FFF;
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    padding: 82px 0 49px ; 
    width: 400px;
   
}


footer .left a{
    color: #FFF;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;
    padding: 0 0 34px ;
}


footer .left .icon a{

    font-size: 30px;
    display: inline-block;
    margin-right: 1em;
}


footer .right{
    width: 50%;
}


footer .right .get_started{
   text-align: center;
}


footer .right .get_started .ready{
    color: #FFF;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    margin-right: 18px;
}



footer .right .get_started .started{
    color: #000;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding:18px 47px;
    border-radius: 10px;
    background: #FFA343;
    margin-bottom: 60px;
}


footer .right .main{
    display: flex;
}


footer .right .main .list_item a{
    color: #FFF;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: auto; /* 0% */
    text-transform: capitalize;
}



footer .right .main .list_item h3{
    color: #FFD1A0;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.232px;
    text-transform: capitalize;
}



footer .right .main .footer_about{
    margin: 0 139px  0 48px;
}



footer p{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    padding-bottom: 25px;
}